<div class="bg-overlay-buscar vh-100">
<div class="container" data-aos="fade-up">
    <div class="row h-100">
        <div class="mx-auto " style="padding-top: 30vh;">
            <div class=" text-center">
                <h1 class="display-4 text-light">Busca Tu libro Favorito</h1>
                <div class="input-group rounded">
                    <input type="search" class="form-control rounded" placeholder="Buscar" aria-label="Search"
                        aria-describedby="search-addon" />
                    <span class="input-group-text border-0 ml-3" id="search-addon">
                        <i class="fas fa-search"></i>
                    </span>
                </div>
            </div>
        </div>

    </div>
</div>
</div>

<div class="container">
    
    {{#if books}}
    <div class="row">
        {{#each books}}
            <div class="col-md-3 m-4">
                <div class="card mx-auto" style="width: 18rem;">
                <img class="card-img-top" style="height: 400px;" src="{{imagen}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-center">{{titulo}}</h5>
                    
                    <div class="text-center mb-4">
                        <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample{{issn}}" role="button" aria-expanded="false" aria-controls="collapseExample{{issn}}">ver detalles</a>
                    </div>
                    
                    <div class="collapse" id="collapseExample{{issn}}">
                        <ul>
                            <li>{{titulo}}</li>
                            <li>{{anopublicacion}}</li>
                            <li>{{numeropaginas}}</li>
                            <li>{{genero}}</li>
                            <li>{{editorial}}</li>
                            <li>{{issn}}</li>
                            <li>{{idioma}}</li>
                            <li>{{fechapublicacion}}</li>
                            <li>{{uso}}</li>
                            <li>{{precio}}</li>
                        </ul>
                    </div>
                    <a href="/delete-book/{{@key}}" class="btn btn-danger btn-block"><i class="fas fa-trash-alt"></i></a>
                    <a href="/update-book/{{@key}}" class="btn btn-info btn-block"><i class="fas fa-edit"></i></a>
                </div>
            </div>
            </div>
        {{/each}}
            
    </div>
        {{else}}
        <h1 class="text-center display-4 m-4 text-secondary">no hay libros en stock</h1>
    {{/if}}
    
</div>