
<div class="container vh-100 bg-no-overlay-libros" data-aos="fade-up">
    <div class="row h-100">
            <div class="col-sm-12 my-auto">
                <div class=" text-center pt-4" >
                    <button type="button" class="btn btn-danger btn-lg p-4" data-toggle="modal" data-target="#modalAgregaLibro">Agregar Libro</button>
                </div>
            </div>
        
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="modalAgregaLibro" tabindex="-1" aria-labelledby="modalAgregaLibro" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar Libro</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/new-book" method="POST" id="nuevoLibro">
                <div class="form-group">
                    

                    <input  type="text" name="titulo" placeholder="Título" class="form-control my-3">
                    <input  type="url" name="imagen" placeholder="Imagen" class="form-control my-3">
                    <label for="anopublicacion">Año de Publicación</label>
                    <input  type="date" name="anopublicacion" placeholder="Año Publicación" class="form-control my-3">

                         <div class="form-group">
                            <label for="genero">Género</label>
                            <select class="form-control" id="genero" name="genero">
                            <option value="drama">Drama</option>
                            <option value="policial">Policial</option>
                            <option value="ficcion">Ciencia Ficción</option>
                            </select>
                        </div>

                    <input  type="number" name="numeropaginas" placeholder="numero de páginas" class="form-control my-3">
                    <input  type="text" name="editorial" placeholder="Editorial" class="form-control my-3">
                    <input  type="text" name="issn" placeholder="ISSN" class="form-control my-3">
                        
                         <div class="form-group">
                            <label for="idiomas">Idiomas</label>
                            <select class="form-control" id="idiomas" name="idioma">
                            <option>Español</option>
                            <option>Inglés</option>
                            <option>Francés</option>
                            </select>
                        </div>
                    <label for="fechapublicacion">Fecha de Publicación</label>
                    <input  type="date" name="fechapublicacion" placeholder="Fecha de Publicación" class="form-control my-3">
                    
                         <div class="form-group">
                            <label for="uso">Estado</label>
                            <select class="form-control" id="uso" name="uso">
                            <option>Nuevo</option>
                            <option>Usado</option>
                            </select>
                        </div>
                    <input type="number" name="precio" class="form-control my-3" placeholder="Precio">
                </div>
      </div>
        <div class="modal-footer">
          <button class="btn btn-primary btn-block" type="submit">enviar</button>
        </div>
      </form>
    </div>
  </div>
</div>









    
    

    




<div class="container">
    
    {{#if books}}
    <div class="row">
        {{#each books}}
            <div class="col-md-3 m-4">
                <div class="card mx-auto" style="width: 18rem;">
                <img class="card-img-top" style="height: 400px;" src="{{imagen}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-center">{{titulo}}</h5>
                    
                    <div class="text-center mb-4">
                        <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample{{issn}}" role="button" aria-expanded="false" aria-controls="collapseExample{{issn}}">ver detalles</a>
                    </div>
                    
                    <div class="collapse" id="collapseExample{{issn}}">
                        <ul>
                            <li>{{titulo}}</li>
                            <li>{{anopublicacion}}</li>
                            <li>{{numeropaginas}}</li>
                            <li>{{genero}}</li>
                            <li>{{editorial}}</li>
                            <li>{{issn}}</li>
                            <li>{{idioma}}</li>
                            <li>{{fechapublicacion}}</li>
                            <li>{{uso}}</li>
                            <li>{{precio}}</li>
                        </ul>
                    </div>
                    <a href="/delete-book/{{@key}}" class="btn btn-danger btn-block"><i class="fas fa-trash-alt"></i></a>
                    <a href="/update-book/{{@key}}" class="btn btn-info btn-block"><i class="fas fa-edit"></i></a>
                </div>
            </div>
            </div>
        {{/each}}
            
    </div>
        {{else}}
        <h1 class="text-center display-4 m-4 text-secondary">no hay libros en stock</h1>
    {{/if}}
    
</div>