<div class="col-md-6 offset-md-3">
    <div class="card">
        <div class="card-header">
            <h1>tareas</h1>
        </div>
        <div class="card-body">
            {{#if contacts}}
               <ul class="list-group">
                    {{#each contacts}}
                    <li class="list-group-item">
                        {{@key}}
                        {{firstname}}
                        {{lastname}}
                        {{email}}
                        {{phone}}
                        <a href="/delete-contact/{{@key}}" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                        <a href="" class="btn btn-info"><i class="fas fa-edit"></i></a>
                    </li>
                    {{/each}}
               </ul>
            {{else}}
            <p>no contacts yet</p>
            {{/if}}
        </div>
        <div class="card-footer">
            <form action="/new-contact" method="POST">
                <div class="form-group">
                    <input  type="text" name="firstname" placeholder="FirstName" class="form-control my-3" autofocus>
                    <input  type="text" name="lastname" placeholder="LastName" class="form-control my-3">
                    <input  type="text" name="email" placeholder="Email" class="form-control my-3">
                    <input  type="text" name="phone" placeholder="Phone" class="form-control my-3">
                    <button class="btn btn-primary btn-block">enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>